
body {
	/*font-family: 'Quicksand', sans-serif;*/
	/*background-image: url(images/fuji.jpg);*/
	background-size: 1279px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	margin: 0;
}

.scroll-link {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.scroll-link:hover {
	color: #fff;
}

#brian_altman {
	text-transform: uppercase;
	margin: 0;
	font-family: 'Knewave', cursive;
	
}

/*#brian_altman.fade-in {
	transform: translateY(0);
}*/

/*Title Animation*/

.top_letter div{
	position: relative;
	top: 100px;
	display: inline-block;
	opacity: 0;
	/*padding-right: 8%;*/
	left: 27%;
	font-size: 100px;
	/*text-align: center;*/
	transform: translateY(0);
	transition: all 1s ease-out;
	color: #FAFAFA;
}

/*#first_n {
	right: 20% !important;
}*/

.top_letter.fade-in div {
	transform: translateY(100px);
	opacity: 1;
}

.bottom_letter div{
	position: relative;
	top: 100px;
	display: inline-block;
	opacity: 0;
	/*padding-right: 7.5%;*/
	left: 45%;
	font-size: 100px;
	/*text-align: center;*/
	transform: translateY(100px);
	transition: all 1s ease-out;
	color: #2659C9;
}

.bottom_letter.fade-bottom div {
	transform: translateY(10px);
	opacity: 1;
}

/*#first_b.fade-in {*/
	/*opacity: 1;
	transform: translateY(0);*/

/*}*/


#title_dev {
	position: absolute;
	top: 380px;
	left: 36%;
	opacity: 0;
	font-size: 50px;
	/*transform: translateY(0);*/
	transition: all 1s ease-out;
	color: #FAFAFA;
	font-family: 'Knewave', cursive;
}

#title_dev.fade-bottom {
	/*transform: translateY(0);*/
	opacity: 1;
}

#top_line {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	position: absolute;
}


ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/*#socialnav ul {
	height: 0px;
}

#socialnav nav {
	position: relative;
	text-transform: uppercase;
	top: 500px;
}*/

a {
	text-decoration: none;
	color: black;
}

.about:hover {
	color: black;
	text-decoration: none;
	animation-name: transition;
	animation-name: grow;
	animation-duration: 1s;
}

.work:hover {
	color: black;
	text-decoration: none;
	animation-name: transition;
	animation-name: grow;
	animation-duration: 1s;
}

.contact:hover {
	color: black;
	text-decoration: none;
	animation-name: transition;
	animation-name: grow;
	animation-duration: 1s;
}


#main_nav {
	position: fixed;
	top: 0;
	color: black;
	text-decoration: none;
	left: 80%;
	list-style-type: none;
	width: 100%;
	height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    display: none;
    z-index: 5;
}

/*#mainnavcontact {
	color: black;
	text-decoration: none;
	text-align: center;
	list-style-type: none;
	top: -10px;
}*/

#title {
	background-color: #3C3744;
	height: 750px;
}

#main_nav li {
	padding: 20px;
}

#mainnavcontact li {
	display: inline-block;
	padding: 20px;
}

#socialnav {
	list-style-type: none;
	height: 30px;
}

#socialnav li {
	display: inline-block;
}

.page-section {
	height: 700px;
}


.left {
	display: inline-block;
	float: left;
	height: 700px;
	width: 55%;
}

.right {
	display: inline-block;
	height: 700px;
	width: 45%;


}




.left h3 {
	position: relative;
	top: 50%;
	font-size: 50px;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: 'Knewave', cursive;
}



/*About Section*/

#brian {
	width: 200px;
	position: relative;
	left: 86%;
	z-index: 1;
	border-radius: 50%;
}

#about_left {
	background-color: #2659C9;
}

#about_left h3 {
	opacity: 0;
	transform: translateY(0);
	transition: all 1s ease-out;
	color: #FAFAFA;
}

#about_left.fade-in h3 {
	transform: translateY(-30px);
	opacity: 1;
}

#about_right {
	background-color: #FAFAFA;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

#about_right.scroll {
	overflow: auto;

}

#about_right.scroll_end {
	overflow: auto;

}

.about_content {
	padding-left: 20%;
	padding-right: 10%;
}

.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background-color: #2659C9;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 15px;
}

.circle:hover {
	cursor: pointer;
	background-color: #80A1D4;

}

#resume_image {
	width: 70px;
	left: 26%;
	top: 40px;
	position: relative;
}

/*Work Section*/

#work_right.scroll {
	overflow: auto;

}

#work_right.scroll_end {
	overflow: auto;
	z-index: -1;
}


#work_left {
	background-color: #FAFAFA;
}

#work_left h3 {
	opacity: 0;
	transform: translateY(0);
	transition: all 1s ease-out;
	color: #2659C9;
}

#work_left.fade-in h3 {
	transform: translateY(-30px);
	opacity: 1;
}

#work_right {
	display: inline-block;
	height: 700px;
	width: 45%;
	background-color: #3C3744;
}

#work_right.scroll {
	overflow: auto;
}

.description {
	width: 190px;
	border: 1px solid black;
}

.hexagon {
	width: 100px;
	height: 55px;
	position: relative;
}

.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid #2659C9;
}

.hexagon:hover:before {
	border-bottom: 25px solid #FAFAFA;
}

.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid #2659C9;
}

.hexagon:hover:after {
	border-top: 25px solid #FAFAFA;
}



.hexagon h4 {
	font-family: 'Montserrat', cursive;
}

.hexagon h5 {
	font-family: 'Open Sans', cursive;
}

/*Able Work*/

.rotatingimageable {
	width: 384px;
	display: none;
	position: absolute;
	left: 70%;
	top: 1470px;
}

 
#able_hexagon {
	position: relative;
	top: 40px;
	left: 8%;
	background-color: #2659C9;
}

#able_hexagon:hover {
	background-color: #FAFAFA;
	cursor: pointer;
}

#able_hexagon h4 {
	color: #FAFAFA;
	text-align: center;
	font-size: 20px;
	padding-top: 14px;
	
}

#able_hexagon:hover h4 {
	color: #2659C9;
	content: attr(data-hover);
}

#able_hexagon h5 {
	text-align: center;
	font-size: 15px;
	padding-top: 20px;
	width: 150px;
	margin-left: -27%;
	color: #FAFAFA;
}

/*Mood Work*/

.rotatingimagemood {
	width: 384px;
	display: none;
	position: absolute;
	top: 1700px;
}


#mood_hexagon {
	position: relative;
	top: 180px;
	left: 75%;
	background-color: #2659C9;
}

#mood_hexagon:hover {
	background-color: #FAFAFA;
	cursor: pointer;
}

#mood_hexagon h4 {
	color: #FAFAFA;
	text-align: center;
	font-size: 20px;
	padding-top: 3px;
	
}

#mood_hexagon:hover h4 {
	color: #2659C9;
	content: attr(data-hover);
}

#mood_hexagon h5 {
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	width: 150px;
	margin-left: -27%;
	color: #FAFAFA;
}

/*Ecommerce Work*/

.rotatingimageecommerce {
	width: 384px;
	display: none;
	position: absolute;
	top: 1930px;
	left: 70%;
}


#ecommerce_hexagon {
	position: relative;
	top: 330px;
	left: 8%;
	background-color: #2659C9;
}

#ecommerce_hexagon:hover {
	background-color: #FAFAFA;
	cursor: pointer;
}

#ecommerce_hexagon h4 {
	color: #FAFAFA;
	text-align: center;
	font-size: 20px;
	padding-top: 3px;
	
}

#ecommerce_hexagon:hover h4 {
	color: #2659C9;
	content: attr(data-hover);
}

#ecommerce_hexagon h5 {
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	width: 150px;
	margin-left: -27%;
	color: #FAFAFA;
}


/*Contact Section*/

#contact_left {
	background-color: #3C3744;
}

#contact_left h3 {
	opacity: 0;
	transform: translateY(0);
	transition: all 1s ease-out;
	color: #FAFAFA;
}

#contact_left.fade-in h3 {
	transform: translateY(-30px);
	opacity: 1;
}

#contact_right {
	background-color: #101010;
}

/*Contact Box*/

.contactbox {
	position: relative;
}

.contactbox h5 {
	position: absolute;
	left: 800px;
	top: 130px;
}

textarea {
	position: absolute;
	left: 800px;
	top: 180px;
	background-color: rgba(255,255,255,0.5);
}

li img {
	width: 40px;
}

footer {
	position: absolute; 
	right: 3%;
	bottom: 0%;
}

#contact_header {
	position: relative;
	top: 90px;
	left: 50px;
	font-size: 30px;
	width: 400px;
}

#contact_header h4 {
	top: -50px;
	position: relative;
	color: #FAFAFA;
	font-family: 'Montserrat', sans-serif;
}

.contact_buttons {
	position: relative;
	display: inline-block;
	top: 80px;
	height: 36%;
	width: 50%;
	font-size: 0px;
}

#mail {
	background-color: #2659C9;
	margin-right: -4px;
	margin-bottom: -4px
}

#mail:hover { 
    background-color: #80A1D4;
    cursor: pointer;
}

#mail_image {
	width: 88px;
	position: absolute;
	top: 80px;
	left: 33%;
}

#github {
	background-color: #FAFAFA;
	margin-bottom: -4px;
}

#github:hover { 
    background-color: #80A1D4;
    cursor: pointer;
}

#github_image {
	width: 83px;
	position: absolute;
	top: 80px;
	left: 34%;
}

#linkedin {
	background-color: #FAFAFA;
	margin-right: -4px;
}

#linkedin:hover { 
    background-color: #80A1D4;
    cursor: pointer;
}

#linkedin_image {
	width: 100px;
	position: absolute;
	top: 80px;
	left: 32%;
}

#facebook {
	background-color: #2659C9;
}

#facebook:hover { 
    background-color: #80A1D4;
    cursor: pointer;
}

#facebook_image {
	width: 100px;
	position: absolute;
	top: 80px;
	left: 32%;
}

/*hamburger menu button*/

.c-hamburger {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 6;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

/*hamburger menu animation*/

.c-hamburger--htx {
  background-color: rgba(0, 0, 0, 0.2);
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}




@keyframes transition {
	0% {
		color: black;
	}
    100% {
		color: black;
	}
}

@keyframes grow {
	0% {
		font-size: 12px;
	}
	100% {
		font-size: 14px;
	}
}

/*Media Queries*/

@media (max-width: 1210px) {
	#brian {
		width: 150px;
		position: relative;
		left: 88%;
		z-index: 1;
		border-radius: 50%;
	}

	.circle {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background-color: #2659C9;
		display: inline-block;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 15px;
	}

	#resume_image {
		width: 40px;
		left: 30%;
		top: 30px;
		position: relative;
	}

	.rotatingimageable {
		width: 340px;
		display: none;
		position: absolute;
		left: 72%;
		top: 1490px;
	}

	.rotatingimagemood {
		width: 340px;
		display: none;
		position: absolute;
		top: 1710px;
	}


	.rotatingimageecommerce {
		width: 340px;
		display: none;
		position: absolute;
		top: 1930px;
		left: 72%;
	}
}

@media (max-width: 1075px) {

	#main_nav {
		left: 70%;
	}

	.rotatingimageable {
		width: 280px;
		display: none;
		position: absolute;
		left: 72%;
		top: 1510px;
	}

	.rotatingimagemood {
		width: 280px;
		display: none;
		position: absolute;
		top: 1730px;
	}


	.rotatingimageecommerce {
		width: 280px;
		display: none;
		position: absolute;
		top: 1960px;
		left: 72%;
	}

	#mood_hexagon {
		position: relative;
		top: 180px;
		left: 70%;
		background-color: #2659C9;
	}

}

@media (max-width: 1000px) {

	#main_nav {
		left: 70%;
	}

	.top_letter div{
		position: relative;
		top: 100px;
		display: inline-block;
		opacity: 0;
		/*padding-right: 8%;*/
		left: 20%;
		font-size: 100px;
		/*text-align: center;*/
		transform: translateY(0);
		transition: all 1s ease-out;
		color: #FAFAFA;
	}

	.bottom_letter div{
		position: relative;
		top: 100px;
		display: inline-block;
		opacity: 0;
		/*padding-right: 7.5%;*/
		left: 45%;
		font-size: 100px;
		/*text-align: center;*/
		transform: translateY(100px);
		transition: all 1s ease-out;
		color: #2659C9;
	}
	
	#title_dev {
		position: absolute;
		top: 380px;
		left: 33%;
		opacity: 0;
		font-size: 50px;
		/*transform: translateY(0);*/
		transition: all 1s ease-out;
		color: #FAFAFA;
		font-family: 'Knewave', cursive;
	}

	#brian {
		top: 650px;
		width: 120px;
		position: relative;
		left: 5%;
		z-index: 1;
		border-radius: 50%;
	}

	.about_content {
		padding-left: 25%;
		padding-right: 10%;
	}

	.circle {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background-color: #2659C9;
		display: inline-block;
		margin-left: 18%;
		margin-right: 5%;
		margin-bottom: 15px;
	}

	.left {
		display: inline-block;
		/*float: left;*/
		height: 700px;
		width: 100%;
	}

	.right {
		display: inline-block;
		float: right;
		height: 700px;
		width: 100%;
	}

	#about_right {
		background-color: #FAFAFA;
		font-family: 'Montserrat', sans-serif;
	}

	#work_left {
		background-color: #3C3744;
	}

	#work_left h3 {
		opacity: 0;
		transform: translateY(0);
		transition: all 1s ease-out;
		color: #FAFAFA;
	}


	#contact_left {
		background-color: #3C3744;
	}

	#contact_left h3 {
		opacity: 0;
		transform: translateY(0);
		transition: all 1s ease-out;
		color: #FAFAFA;
	}

	#work_right {
		display: inline-block;
		float: right;
		height: 800px;
		width: 100%;
		background-color: #2659C9;
	}


	.rotatingimageable {
		width: 480px;
		display: none;
		position: absolute;
		left: 35%;
		top: 2870px;
	}

	.rotatingimagemood {
		width: 480px;
		display: none;
		position: absolute;
		top: 3130px;
		left: 5%;
	}


	.rotatingimageecommerce {
		width: 480px;
		display: none;
		position: absolute;
		top: 3390px;
		left: 35%;
	}

	#able_hexagon {
		position: relative;
		top: 40px;
		left: 12%;
		background-color: #2659C9;
	}

	#mood_hexagon {
		position: relative;
		top: 240px;
		left: 75%;
		background-color: #2659C9;
	}

	#ecommerce_hexagon {
		position: relative;
		top: 420px;
		left: 12%;
		background-color: #2659C9;
	}

	#contact_left {
		background-color: #FAFAFA;
	}

	#contact_left h3 {
		opacity: 0;
		transform: translateY(0);
		transition: all 1s ease-out;
		color: #2659C9;
	}

	#mail_image {
		width: 88px;
		position: absolute;
		top: 80px;
		left: 37%;
	}
	
	#github_image {
		width: 83px;
		position: absolute;
		top: 80px;
		left: 38%;
	}
	
	#linkedin_image {
		width: 100px;
		position: absolute;
		top: 80px;
		left: 36%;
	}
	
	#facebook_image {
		width: 100px;
		position: absolute;
		top: 80px;
		left: 36%;
	}
}

@media (max-width: 750px) {

	#main_nav {
		left: 0;
		width: 100%;
	}

	#post_nav_bar {
		text-align: center;
		padding-top: 200px;
		padding-bottom: 250px;
		background-color: #2659C9;
	}

	.top_letter div{
		left: 6%;
	}

	.bottom_letter div{
		left: 40%;
	}

	#title_dev {
		left: 26%;
	}

	.rotatingimageable {
		width: 400px;
		display: none;
		position: absolute;
		left: 35%;
		top: 2890px;
	}

	.rotatingimagemood {
		width: 400px;
		display: none;
		position: absolute;
		top: 3150px;
		left: 5%;
	}


	.rotatingimageecommerce {
		width: 400px;
		display: none;
		position: absolute;
		top: 3430px;
		left: 35%;
	}


	}

/*Mobile Query*/

@media (max-width: 500px)  {

	#title {
		width: 100%;
		height: 732px;
	}

	.top_letter div{
		font-size: 80px;
		top: 100px;
		left: 10%;
	}

	.bottom_letter div {
		font-size: 80px;
		top: 140px;
		left: 14%;
	}

	#title_dev {
		position: absolute;
		top: 380px;
		left: 24%;
		opacity: 0;
		font-size: 30px;
		/*transform: translateY(0);*/
		transition: all 1s ease-out;
		color: #FAFAFA;
		font-family: 'Knewave', cursive;
	}

	.rotatingimageable {
		width: 100%;
		display: none;
		position: absolute;
		left: 0%;
		top: 2870px;
	}

	.rotatingimagemood {
		width: 100%;
		display: none;
		position: absolute;
		top: 3130px;
		left: 0%;
	}


	.rotatingimageecommerce {
		width: 100%;
		display: none;
		position: absolute;
		top: 3390px;
		left: 0%;
	}

	.hexagon {
		display: none;
	}

	#contact_header {
		position: relative;
		top: 90px;
		font-size: 30px;
		width: 255px;
	}

	#contact_header h4 {
		top: -50px;
		position: relative;
		color: #FAFAFA;
		font-family: 'Montserrat', sans-serif;
	}

	.about_content {
		padding-left: 20%;
		padding-right: 10%;
	}

	#mood_hexagon {
		position: relative;
		top: 180px;
		left: 65%;
		background-color: #2659C9;
	}

	#mood_hexagon h5 {
		text-align: center;
		font-size: 15px;
		padding-top: 10px;
		width: 100px;
		margin-left: -27%;
		color: #FAFAFA;
	}

	.circle {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		background-color: #2659C9;
		display: inline-block;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 15px;
	}

	#circles {
		position: relative;
		padding-left: 15%;
	}

	#brian {
		display: none;
	}

	.contact_buttons {
		position: relative;
		display: inline-block;
		top: 80px;
		height: 36%;
		width: 50%;
		font-size: 0px;
	}

	#mail_image {
		width: 88px;
		position: absolute;
		top: 80px;
		left: 27%;
	}
	
	#github_image {
		width: 83px;
		position: absolute;
		top: 80px;
		left: 29%;
	}
	
	#linkedin_image {
		width: 100px;
		position: absolute;
		top: 80px;
		left: 25%;
	}
	
	#facebook_image {
		width: 100px;
		position: absolute;
		top: 80px;
		left: 26%;
	}

}

/*@media (max-width: 1150px) {
	body {
		width: 1150px;
		}
}

@media (max-width: 1100px) {
	body {
		width: 1100px;
		}
}

@media (max-width: 1050px) {
	body {
		width: 1050px;
		}
}

@media (max-width: 1000px) {
	body {
		width: 1000px;
		}
}

@media (max-width: 950px) {
	body {
		width: 950px;
		}
}

@media (max-width: 900px) {
	body {
		width: 900px;
		}
}

@media (max-width: 850px) {
	body {
		width: 850px;
		}
}

@media (max-width: 800px) {
	body {
		width: 800px;
		}
}

@media (max-width: 768px) {
	body {
		width: 768px;
		}
}

@media (max-width: 700px) {
	body {
		width: 700px;
		}
}

@media (max-width: 650px) {
	body {
		width: 650px;
		}
}

@media (max-width: 600px) {
	body {
		width: 600px;
		}
}

@media (max-width: 550px) {
	body {
		width: 550px;
		}
}

@media (max-width: 500px) {
	body {
		width: 500px;
		}
}

@media (max-width: 450px) {
	body {
		width: 450px;
		}
}

@media (max-width: 400px) {
	body {
		width: 400px;
		}

	#socialnav {
		text-align: center;
	}
}*/